<div class="header">
        <div class="top">
            <div class="left">全场免运费</div>
            <div class="right">
                <div class="register">
                    <a href="javascript:;" id="register">登录/注册</a>
                    <a href="javascript:;" id="login">欢迎您</a>
                </div>
                <a href="javascript:;" class="chart">
                    <span><b>0</b>件商品</span>
                </a>
            </div>
        </div>
        <div class="logo"><img src="/static/img/logo.png" id="header_logo"/></div>
        <div class="nav">
            <div class="contain">
                <ul class="nav_btn">
                    <li><a href="javascript:;">首页</a></li>
                    <li class="select_1"><a href="javascript:;">护肤</a></li>
                    <li><a href="javascript:;">彩妆</a></li>
                    <li><a href="javascript:;">男士</a></li>
                    <li><a href="javascript:;">防晒</a></li>
                    <li><a href="javascript:;">官方甄享</a></li>
                    <li><a href="javascript:;">明星产品</a></li>
                    <li><a href="javascript:;">官方购物理由</a></li>
                    <li>|<a href="javascript:;">品牌故事</a></li>
                    <li><a href="javascript:;">专柜导航</a></li>
                </ul>
                <form>
                    <input type="text" placeholder="商品搜索"/>
                    <!-- <input type="button"/> -->
                    <button></button>
                </form>
                <!-- <div></div> -->
            </div>
            <!-- <div class="nav_select_1"></div> -->
        </div>
    </div>