<div class="header">
    <div class="top">
        <div class="left">全场免运费</div>
        <div class="right">
            <div class="register">
                <a href="/html/register.html" id="register">登录/注册</a>
                <a href="/html/register.html" id="login">退出</a>
            </div>
            <a href="/html/chart.html" class="chart">
                <span><b>0</b>件商品</span>
            </a>
        </div>
    </div>
    <div class="logo"><a href="/index.html" class="logo"><img src="/static/img/logo.png" id="header_logo"/></a></div>
</div>