.header{
    width: 100%;
    height: 161px;
   
}
.header .top{
    width: 100%;
    height: 34px;
    background-color: #000000;
}
.header .top .left{
    width: 86px;
    height: 34px;
    float: left;
    color: white;
    font-size: 12px;
    line-height: 34px;
    padding-left: 155px;
    background: url(/static/img/home_03.jpg) no-repeat 130px center;
}
.header .top .right{
    width: 700px;
    height: 34px;
    float: right;
} 
.header .top .right .register{
    width: 447px;
    height: 34px;
    float: left;
    // padding-left: 370px;
    display: block;
}
.header .top .right .register a{
    color: white;
    display: block;
    width: 108px;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    text-align: right;
   
}
#regster{
    display: block;
    color: white;

    width: 108px;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    text-align: right;
}
#login{
    display: none;
    color: white;

    width: 108px;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    text-align: right;
}
.header .top .right .login{
    display: none;
}
.header .top .right .chart{
    width: 70px;
    height: 34px;
    float: left;
    padding-left: 64px; 
    color: white;
    line-height: 34px;
    font-size: 12px;
    text-align: center;
    background: url(/static/img/home_05.jpg) no-repeat 55px center;
}
.header .logo{
    width: 100%;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    .header_logo{
        height: 83px;
    }

}
.header .nav{
    width: 100%;
    height: 44px;
    position: relative;
    li{
        display: block;
        height: 44px;
    }
    .nav_select{
        position: absolute;
        top:43px;
        left: 0;
        z-index: 51;
        width: 1264px;
        height: 562px;
        background-color: white;
        display: none;
        box-shadow: 0 0 5px #888;
        .nav_select_ul{
            margin: 0 auto;
            width: 920px;
            height: 590px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .nav_left{
                width: 440px;
                height: 557px;
                
                display: block;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            
                .nav_left_a{
                    display: block;
                    width: 440px;
                    height: 37px;
                    // text-align: center;
                    font-size: 14px;
                    color: #666;
                    cursor: pointer;
                    padding-bottom: 7px;
                    line-height: 43px;
                    padding-top: 7px;
                    border-bottom: 1px solid #ccc;
                }
                .nav_left_div{
                    width: 440px;
                    height: 494px;
                    background-color: #fff;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .nav_ul{
                        margin-top: 4px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        .nav_ul_li{
                            width: 213px;
                            height: 101px;
                        }
                    }
                    
                    // .dl{
                    //     width: 213px;
                    //     height: 101px;
                    //     background-color: gainsboro;
                    //     display: flex;
                    //     flex-direction: column;
                    //     justify-content: space-around;
                    //     align-items: center;
                    //     dd{
                    //         font-weight: 500;
                    //         font-size: 14px;

                    //     }
                    // }
                }
            }
            .nav_middle{
                width: 186px;
                height: 325px;
                
                .nav_middle_a{
                    display: block;
                    width: 186px;
                    height: 37px;
                    font-size: 14px;
                    color: #666;
                    cursor: pointer;
                    padding-bottom: 7px;
                    line-height: 43px;
                    padding-top: 7px;
                    border-bottom: 1px solid #ccc;
                }
                .nav_middle_div{
                    width: 186px;
                    height: 288px;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    a{
                        display: block;
                        width: 176px;
                        height: 36px;
                        align-items: flex-start;
                        line-height: 22px;
                        color: #666;
                        font-size: 14px;
                        padding-top: 7px;
                    }
                }
            }
            .nav_right{
                width: 186px;
                height: 253px;
                
                .nav_right_a{
                    display: block;
                    width: 186px;
                    height: 37px;
                    font-size: 14px;
                    color: #666;
                    cursor: pointer;
                    padding-bottom: 7px;
                    line-height: 43px;
                    padding-top: 7px;
                    border-bottom: 1px solid #ccc;
                }
                .nav_right_div{
                    width: 186px;
                    height: 288px;
                    background-color: #fff;
                    a{
                        display: block;
                        width: 176px;
                        height: 36px;
                        align-items: flex-start;
                        line-height: 22px;
                        color: #666;
                        font-size: 14px;
                        padding-top: 7px;
                    }
                }
            }
        }
    }
}

.header .nav .contain{
    width: 1005px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav .contain .nav_btn{
    width:664px;
    height: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
}
.header .nav .contain .nav_btn li a{
    font-size: 14px;
    color: #000000;
    padding-left: 7px;
}
.header .nav .contain .nav_btn li:hover a{
    color: #861b21;
}

.header .nav .contain form{
    width: 187px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    margin-bottom: 19px;
}
.header .nav .contain form input{
    border: 1px solid #d8d8d8;
    width: 149px;
    height: 26px;
    border-right: none;
    padding-left: 7px;    
}
.header .nav .contain form button{
    border: 1px solid #d8d8d8;
    width: 24px;
    height: 28px;
    border-left: none;
    background: #ffffff url(/static/img/home_20.jpg) no-repeat center;
}