@import "./component/style.scss";
@import"./component/header.scss";
@import"./component/footer.scss";

// .nav_select_1{
//     width: 1256px;
//     height: 500px;
//     position: absolute;
//     top:49px;
//     left: 1px;
//     background-color: #ffffff;
//     border-top:1px solid #d8d8d8;
//     border-bottom:1px solid #d8d8d8;
//     box-shadow:0 0 10px #d8d8d8;
//     display: none;
// }
.banner{
    width: 100%;
    height: 485px;
    // margin-top: 49px; 
    #div1 {
        width:1263px; 
        height:485px; 
        margin:0 auto; 
        overflow:hidden; 
        position:relative;
        ul li{
            height:485px;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            img{
                margin-left: 50%;
                transform: translateX(-67%);
            }
            
        }
        #goPrev{
            display: block;
            width: 60px;
            height: 60px;
            position:absolute;
            top:240px;
            left: 0;
            z-index: 50;
            .Prev{
                display: block;
                width: 60px;
                height: 60px;
                position:absolute;
                top:240px;
                left: 0;
                // z-index: 50;
            }
        }
        #goNext{
            display: block;
            width: 60px;
            height: 60px;
            position:absolute;
            top:240px;
            right: 0;
            z-index: 50;
            .Next{
                display: block;
                width: 60px;
                height: 60px;
                position:absolute;
                top:240px;
                right: 0;
                // z-index: 50;
            }
        }
        
    }
    #div1 ul li.ac{z-index: 5;}  
//    img{
//     margin-left: 50%;
//     transform: translateX(-50%);
//    }
}
// #div1 {width:850px; height:500px; margin:50px auto; overflow:hidden; position:relative;}
// #div1 ul li{height:500px;opacity: 0;position: absolute;left: 0;top: 0;z-index: 0;}



.main_top{
    width: 100%;
    height: 719px;
    position: relative;
    margin-top: 35px;
    .list_top{
        width: 1100px;
        height:351px;
        margin: 0 auto;
        // border-bottom: 1px solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .dl{
            width: 1100px;
        height:358px;
        margin: 0 auto;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        dl{
            width: 1100px;
            height:372px;
            margin: 0 auto;
            border-bottom: 1px solid;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        dd{
            height: 91px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 12px;
            a{
                display: block;
                font-size: 18px;
                height: 44px;
                line-height: 22px;
                color: #000000;
            }
           
           .btn{
               width: 130px;
               height: 41px;
               background-color: #670205;
               text-align: center;
               line-height: 41px;
               font-size: 12px;
               color: #ffffff;
           }
        }
    } 
    }
    .list_bottom{
        width: 1100px;
        height:366px;
        margin: 0 auto;
        
        .dl{
            width: 1100px;
        height:358px;
        margin: 0 auto;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        dl{
            width: 1100px;
            height:372px;
            margin: 0 auto;
            border-bottom: 1px solid;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        dd{
            height: 91px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 12px;
            a{
                display: block;
                font-size: 18px;
                height: 44px;
                line-height: 22px;
                color: #000000;
            }
            span{
                display: block;
                height: 25px;
                line-height: 25px;
                font-size: 14px;
            }
            .money{
                color: #670205;
            }
           .btn{
               width: 130px;
               height: 41px;
               background-color: #670205;
               text-align: center;
               line-height: 41px;
               font-size: 12px;
               color: #ffffff;
           }
        }
    } 
    }.title{
        width: 1100px;
        height: 37px;
        margin: 0 auto;
        text-align: center;
        color: #333333;
        font-size: 16px;
        text-indent: 13px;
        line-height: 37px;
        position: absolute;
        top:355px;
        left: 0;
        right: 0;
    }
}
.main_bottom{
    width: 100%;
    height: 757px;
    
    .main_new{
        width: 100%;
        margin: 0 auto;
        .title{
            width: 100%;
            height: 46px;
            margin: 0 auto;
            text-align: center;
            color: #333333;
            font-size: 16px;
            text-indent: 13px;
            line-height: 37px;
            
        }
        .img{
            width: 100%;
            height: 720px;
            text-align: center;
            img{
                width: 1000px;
                height: 720px;
            }
        }
    }
}
#fixDiv{
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 99999;
    display: block;
    width: 64px;
    height: 319px;
    background-color: white;
    #fixUl{
        box-shadow: -2px 2px 10px #ccc;
        width: 64px;
        height: 319px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       
        li{
            display: block;
            width: 64px;
            height: 75px;
            display: block;
            text-align: center;
            margin: 0 auto;
            font-size: 15px;
            .img{
                display: none;
                width: 80px;
                border: 0;
                // vertical-align: top;
                font-size: 0;
                line-height: 0;
                overflow: hidden;
                position: absolute;
            }
            .img1{
                top:-1px;
                right: 63px;;
            }
            .img2{
                top:68px;
                right: 63px;;
            }
            .a{
                padding: 15px 0px;
                text-align: center;
                cursor: pointer;
                margin: 0 10px;
                display: block;
                width: 44px;
                border-bottom: 1px solid #999;
                color: #000000;
            }.a2{
                border: none;
            }
            
            .about{
                position: relative;
            }
            .call{
                position: relative;
            }
        }
        #toTop{
            background-color: #000000;
            .a4{
                border: none;
               
            }
        }
        .li3{
            line-height: 30px;
            height: 98px;
            background-color: #d00813;
            background-image: url(/static/img/ChatIcon.png);
            background-repeat: no-repeat;
            background-position:center 8px;
            .p{
                padding: 22px 0px;
                text-align: center;
                cursor: pointer;
                margin: 0 1px;
                display: block;
                width: 44px;
                color: #fff;
                line-height: 20px;
            }
            .a3{
                border: none;
            }
        }
    }
}