@import"./component/style.scss";
@import"./component/header.scss";
@import"./component/footer.scss";
.register{
    width:100%;
    height: 1025px;
    .register_main{
        width: 1100px;
        height: 1025px;
        margin: 0 auto;
        
        .register_main_top{
            width: 1100px;
            height: 259px;
           
            .register_main_top_ul{
                width: 930px;
                height: 221px;
                display: flex;
                justify-content: space-between;
                align-items: center;
               li{
                   margin-right: 10px;
                   position: relative;
                   .register_main_top_ul_p1{
                       width: 158px;
                       height: 37px;
                       background-color: #aeb0b3;
                       position: absolute;
                       top:12px;
                       right:0;
                       line-height: 37px;
                       font-size: 14px;
                       text-align: center;
                       color: #fff;

                   }
                   .register_main_top_ul_p2{
                       width: 52px;
                       height: 52px;
                       background:url(/static/img/start_product_01.png) no-repeat center;
                       line-height: 52px;
                       font-size: 39px;
                       overflow: hidden;
                       position: absolute;
                       top: 5px;
                       left:6px;
                       text-align: center;
                       color: #fff;
                       -webkit-margin-before: 0em;  -webkit-margin-after: 0em;
                   }
               }
            }
        }
        .register_main_bottom{
            width: 1100px;
            height: 766px;
            .register_main_bottom_left{
                width: 425px;
                height: 314px;
                border:1px solid#ccc;
                float: left;
                margin-right: 30px;
                h3{
                    width: 100%;
                    padding-top: 38px;
                    line-height: 18px;
                    text-align: center;
                    font-size: 18px;
                    overflow: hidden;
                    font-weight: normal;
                    -webkit-margin-before: 0em;  -webkit-margin-after: 0em;
                }
                p{
                    width: 100%;
                    line-height: 44px;
                    font-size: 14px;
                    text-align: center;
                }
                .left_input_field{
                    display: block;
                    width: 165px;
                    height: 24px;
                    padding-left: 3px;
                    margin: 0 auto;
                    border: 1px solid #ccc;
                    color: #666;
                    line-height: 24px;
                    margin-top: 10px;
                }
                .forget_password{
                    display: block;
                    width: 168px;
                    margin: 0 auto;
                    text-align: left;
                    line-height: 24px;
                    margin-top: 10px;
                    a{
                        font-size: 12px;
                        color: #000;
                        
                    }
                }
                .register_check{
                    text-align: center;
                    margin: 10px 0;
                    font-size: 12px;
                }
                #re_login_btn{
                    display: block;
                    width: 86px;
                    height: 29px;
                    background: #9e1503;
                    border: 0;
                    margin: 0 auto;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    line-height: 29px;
                    // overflow: hidden;
                    // margin-bottom: 25px;
                }
            }
            .register_main_bottom_right{
                width: 525px;
                height: 771px;
                border:1px solid#ccc;
                float: left;
                position: relative;
            }
                h3{
                    width: 100%;
                    padding-top: 38px;
                    line-height: 18px;
                    text-align: center;
                    font-size: 18px;
                    overflow: hidden;
                    font-weight: normal;
                    -webkit-margin-before: 0em;  -webkit-margin-after: 0em;
                }
                p{
                    width: 100%;
                    line-height: 44px;
                    font-size: 14px;
                    text-align: center;
                }
                .right_input_field{
                    display: block;
                    width: 165px;
                    height: 24px;
                    padding-left: 3px;
                    margin: 0 auto;
                    border: 1px solid #ccc;
                    color: #666;
                    line-height: 24px;
                    margin-top: 10px;
                    margin-bottom: 22px;
            }
            #password_2{
                margin-bottom: 10px;
            }
            span{
                display: block;
                width: 100%;
                line-height: 22px;
                font-size: 12px;
                text-align: center;
                color: #9d1c32;
                font-style: italic;
            }
            .block_password{
                width: 57px;
                position: absolute;
                top: 223px;
                left: 366px;
                padding: 0 0 0 30px;
                background: url(/static/img/register_03.png) no-repeat left center;
            }
            #vcode_text{
                width: 70px;
            }
            .vcode{
                height: 30px;
                // text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                .vcode_a{
                    line-height: 30px;
                    font-size: 13px;
                    color: #0563c3;
                    cursor: pointer;
                
                }
            }
            .verification_code{
                
                display: flex;
                justify-content: center;
                align-items: center;
                .verification_code_text{
                   
                    width: 95px;
                    height: 26px;
                    padding-left: 3px;
                    margin-left: 4px;
                    border: 1px solid #ccc;
                    color: #666;
                    line-height: 24px;
                    margin-top: 10px;
                    margin-bottom: 22px;
                    
                }
                .vcode_a{
                    display: inline-block;
                    height: 30px;
                    line-height: 18px;
                    font-size: 13px;
                    color: #0563c3;
                    cursor: pointer;
                    
                }
            }
            .tips{
                text-align: center;
                display: block;
                font-style: italic;
                color: #9d1c32;
                font-size: 12px;
                line-height: 20px;
            }
            .gender_box{
                font-size: 12px;
                line-height:24px;
               text-align: center;
               margin:15px 0;
                .gender{
                    vertical-align: middle;
                    display: inline-block;
                    width: 33px;
                    height: 17px;
                    line-height: 17px;
                    color: black;
                    font-style: normal;
                }
            }
            .check_box{
                font-size: 12px;
                line-height:24px;
               text-align: center;
            //    margin:3px 0;
               .take{
                vertical-align: middle;
                display: inline-block;
                width: 65px;
                height: 17px;
                line-height: 17px;
                color: black;
                font-style: normal;
            }
            }
            .register_main_bottom_right_bottom{
                width: 525px;
                height: 97px;
                // background-color: #666;
                position: absolute;
                top:652px;
                left: 0;
                border-top: 1px dotted #ccc;
                text-align: center;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               align-items: center;
                .re_recept{
                    width: 525px;
                    height: 37px;
                    padding: 0 0 10px 0;
                    font-size: 14px;
                   
                    .re_1{
                        position: absolute;
                        top: 11px;
                        left: 148px;
                    }
                    .re_2{
                        font-style: normal;
                        color: #000;
                        line-height: 37px;
                        width: 190px;
                        position: absolute;
                        top: 1px;
                        left: 123px;
                        font-size: 12px;
                    }
                    .re_3{
                        position: absolute;
                        top: 11px;
                        left: 268px;
                        font-size: 12px;
                    }
                }
                .re_bottom_big{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 179px;
                   padding-left: 164px;
                }
                #re_bottom_btn_1{
                    display: block;
                    width: 86px;
                    height: 29px;
                    background: #9e1503;
                    border: 0;
                    margin: 0 auto;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    line-height: 29px;
                }
                #re_bottom_btn_2{
                    display: block;
                    width: 86px;
                    height: 29px;
                    background: #9e1503;
                    border: 0;
                    margin: 0 auto;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    line-height: 29px;
                }
            }
        }
    }
}